$body-color: slateblue;

body {
  color: $body-color;
  font-family: sans-serif;
}

.stack {
  position: relative;
  width: 800px;
  height: 600px;
}

.stack > canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.transparent {
  opacity: 0.15;
}

.score {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
